{%extends 'base.html'%}
{%block content %}

{%for msg in messages%}
    <div class="cont">
        <div class="alert alert-success" role="alert">
          {{msg}}
        </div>
    </div>
{%endfor%}
                <!---------------------------In page search--------------------------->
        <div class="my-Search">
                 <form class="form-inline" action="search" method="POST">
                      {% csrf_token %}
                      <input class="form-control col-lg-6 mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">

                      <button class="btn btn-warning my-2 my-sm-0" type="submit" value="search">Search</button>
                 </form>
        </div>
                <!---------------------------In page search End--------------------------->

{% if user.is_authenticated %}

    {% if notes|length == 0 %}
       <div class="p-4">
           <br>
             <br>

            <div class="alert alert-info text-center">
            <p class="" style="font-size: 40px">
                No Notes available to Shown
            </p>

        </div>
            <br>
             <br>
       </div>

    {% else %}
            <div class="my-container">
            {% for note in notes %}
              <!-- <div class="card d-inline-flex .align-self-start shadow p-1 mb-1 bg-body rounded transparent" style="width: 18rem;"> -->
                  <div class="my-box">
                    <h4 class="card-title text-light">{{note.title}}</h4>
                    <p class="card-text text-light">{{note.note}}</p>
                      <p class="card-time text-light">{{note.time}}</p>
                      <a href="{%url 'edit' note.id %}" class="far fa-edit fa-lg edit_icon" title="Edit" ></a>

                      <a href= "{% url 'delete' note.id %}" class="far fa-trash-alt fa-lg delete_icon" title="Delete" ></a>
                  </div>
            {%endfor%}
            </div>
    {% endif %}
{% else %}
 <div class="p-4">
           <br>
             <br>

            <div class="alert alert-info text-center">
            <p class="" style="font-size: 40px">
                Please make an account or login to your account to take a note
            </p>

        </div>
            <br>
             <br>
       </div>
{% endif %}
{%endblock %}
